{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.corerouter.me",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Admin Billing",
      "description": "Billing configuration and usage management (ADMIN only)"
    },
    {
      "name": "Admin Models",
      "description": "Model management for administrators — CRUD, status changes, archival, and audit history"
    },
    {
      "name": "API Keys",
      "description": "API key management — generate, view, update, enable/disable, and delete API keys"
    },
    {
      "name": "Admin Technical",
      "description": "Technical health and monitoring"
    },
    {
      "name": "Chat Completions",
      "description": "LLM chat completion endpoints"
    },
    {
      "name": "Service Tokens",
      "description": "Admin-only management of worker/internal service tokens"
    },
    {
      "name": "Tasks",
      "description": "Async task management — create, poll status, and update results"
    },
    {
      "name": "Wallet",
      "description": "Wallet management and eSewa top-up APIs"
    },
    {
      "name": "Authentication",
      "description": "User registration, login, OTP verification, token refresh, and logout"
    },
    {
      "name": "User Billing",
      "description": "Usage and cost queries for authenticated users"
    },
    {
      "name": "Models",
      "description": "User-facing endpoints to browse active AI models"
    },
    {
      "name": "Admin Documentation",
      "description": "Manage API documentation for AI models"
    }
  ],
  "paths": {
    "/api/v1/apikeys/{apiKeyId}": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "Get API key details",
        "description": "Retrieve details of a specific API key by its ID",
        "operationId": "getApiKeyDetails",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "API key details retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "API Keys"
        ],
        "summary": "Update API key",
        "description": "Update the description and rate limits of an existing API key",
        "operationId": "updateApiKey",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Delete API key",
        "description": "Soft delete an API key by revoking it while preserving history",
        "operationId": "deleteApiKey",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/models/{modelId}": {
      "get": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Get model by ID",
        "description": "Retrieve a single model by its ID",
        "operationId": "getModelById",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModelResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Update model",
        "description": "Update an existing model's details",
        "operationId": "updateModel",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModelResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Delete model",
        "description": "Soft delete a model by archiving it while preserving history",
        "operationId": "deleteModel",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/documentation/{docId}": {
      "put": {
        "tags": [
          "Admin Documentation"
        ],
        "summary": "Update documentation",
        "description": "Update existing API documentation",
        "operationId": "updateDocumentation",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "description": "Documentation ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiDocumentationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiDocumentationResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin Documentation"
        ],
        "summary": "Delete documentation",
        "description": "Soft delete API documentation by its ID while keeping history",
        "operationId": "deleteDocumentation",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "description": "Documentation ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/billing/configs/{billingId}": {
      "get": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Get billing config by ID",
        "description": "Retrieve a billing configuration by its ID",
        "operationId": "getBillingConfigById",
        "parameters": [
          {
            "name": "billingId",
            "in": "path",
            "description": "Billing config ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Billing config retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBillingConfigResponse"
                }
              }
            }
          },
          "404": {
            "description": "Billing config not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBillingConfigResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Update billing config",
        "description": "Update pricing type and/or metadata of an existing billing configuration",
        "operationId": "updateBillingConfig",
        "parameters": [
          {
            "name": "billingId",
            "in": "path",
            "description": "Billing config ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBillingConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Billing config updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBillingConfigResponse"
                }
              }
            }
          },
          "404": {
            "description": "Billing config not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBillingConfigResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Delete billing config",
        "description": "Soft delete a billing configuration while preserving historical usage integrity",
        "operationId": "deleteBillingConfig",
        "parameters": [
          {
            "name": "billingId",
            "in": "path",
            "description": "Billing config ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Billing config deleted successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "Billing config not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/wallet/topup/initiate": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "operationId": "initiateTopUp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateTopUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create task",
        "description": "Enqueue a new async task for processing",
        "operationId": "createTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTaskAsyncResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/service-tokens": {
      "get": {
        "tags": [
          "Service Tokens"
        ],
        "summary": "List service tokens",
        "description": "List all service tokens (metadata only)",
        "operationId": "listTokens",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListServiceTokenResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Service Tokens"
        ],
        "summary": "Create service token",
        "description": "Create a new service token and return the raw token once",
        "operationId": "createToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCreateServiceTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat/completions": {
      "post": {
        "tags": [
          "Chat Completions"
        ],
        "summary": "Chat completions",
        "description": "Submit a chat completion request to the specified LLM model. Requires 'Authorization: Bearer <API_KEY>' header.",
        "operationId": "chatCompletions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTaskAsyncResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verify-otp": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify OTP",
        "description": "Step 2 — Verify the OTP to proceed with registration",
        "operationId": "verifyOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVerifyOtpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/request-otp": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request OTP",
        "description": "Step 1 — Send a one-time password to the given email address",
        "operationId": "requestOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseRequestOtpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register",
        "description": "Step 3 — Complete registration with profile details after OTP verification",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinalRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh token",
        "description": "Exchange a valid refresh token for a new access token",
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout",
        "description": "Revoke the refresh token to end the session",
        "operationId": "logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login",
        "description": "Authenticate with email and password to obtain access and refresh tokens",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apikeys/generate": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Generate API key",
        "description": "Generate a new API key for the authenticated user with optional description and rate limits",
        "operationId": "generateApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/models": {
      "get": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Get all models",
        "description": "Retrieve all models regardless of status",
        "operationId": "getAllModels",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListModelResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Create model",
        "description": "Register a new AI model in the system",
        "operationId": "createModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Model created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModelResponse"
                }
              }
            }
          },
          "409": {
            "description": "Model already exists",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/models/{modelId}/inactivate": {
      "post": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Inactivate model",
        "description": "Mark a model as inactive",
        "operationId": "inactivateModel",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/models/{modelId}/archive": {
      "post": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Archive model",
        "description": "Soft-archive a model so it is no longer active",
        "operationId": "archiveModel",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/documentation/models/{modelId}": {
      "post": {
        "tags": [
          "Admin Documentation"
        ],
        "summary": "Create documentation",
        "description": "Create API documentation for a specific model",
        "operationId": "createDocumentation",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiDocumentationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiDocumentationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/billing/usage": {
      "post": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Record usage",
        "description": "Record usage for a completed task. A task can have multiple usage records (e.g. input tokens + output tokens).",
        "operationId": "recordUsage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordUsageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Usage recorded successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUsageRecordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or duplicate unit type for task",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUsageRecordResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found or billing config missing",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUsageRecordResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/billing/configs": {
      "get": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Get all billing configs",
        "description": "Retrieve all billing configurations across all models",
        "operationId": "getAllBillingConfigs",
        "responses": {
          "200": {
            "description": "Billing configs retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListBillingConfigResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Create billing config",
        "description": "Create a new billing configuration for a model with pricing type and metadata",
        "operationId": "createBillingConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Billing config created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBillingConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or billing config already exists for model",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBillingConfigResponse"
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBillingConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/status": {
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update task status",
        "description": "Update the status and optionally the result of a task",
        "operationId": "updateTaskStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskStatusUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTaskStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service-tokens/{tokenId}/revoke": {
      "patch": {
        "tags": [
          "Service Tokens"
        ],
        "summary": "Revoke service token",
        "description": "Deactivate a service token by tokenId",
        "operationId": "revokeToken",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "description": "Token ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4e5f6"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service-tokens/{tokenId}/activate": {
      "patch": {
        "tags": [
          "Service Tokens"
        ],
        "summary": "Activate service token",
        "description": "Reactivate a service token by tokenId",
        "operationId": "activateToken",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "description": "Token ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4e5f6"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apikeys/{apiKeyId}/enable": {
      "patch": {
        "tags": [
          "API Keys"
        ],
        "summary": "Enable API key",
        "description": "Re-enable a previously disabled API key",
        "operationId": "enableApiKey",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "API key enabled successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apikeys/{apiKeyId}/disable": {
      "patch": {
        "tags": [
          "API Keys"
        ],
        "summary": "Disable API key",
        "description": "Disable an active API key so it can no longer be used for requests",
        "operationId": "disableApiKey",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "API key disabled successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApiKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/models/{modelId}/status": {
      "patch": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Update model status",
        "description": "Change a model's status (e.g. ACTIVE, INACTIVE, ARCHIVED)",
        "operationId": "updateModelStatus",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/wallet/topup/success": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "operationId": "handleSuccess",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/wallet/topup/failure": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "operationId": "handleFailure",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseString"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get task status",
        "description": "Retrieve current status and result of a task",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc-123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTaskStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service-tokens/{tokenId}": {
      "get": {
        "tags": [
          "Service Tokens"
        ],
        "summary": "Get service token",
        "description": "Get service token metadata by tokenId",
        "operationId": "getToken",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "description": "Token ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4e5f6"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseServiceTokenResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Service Tokens"
        ],
        "summary": "Delete service token",
        "description": "Soft delete a service token by deactivating it",
        "operationId": "deleteToken",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "description": "Token ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4e5f6"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List active models",
        "description": "Retrieve all models that are currently active",
        "operationId": "getActiveModels",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListModelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/{modelId}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get model details",
        "description": "Retrieve model details including documentation for an active model",
        "operationId": "getModelById_1",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModelDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/usage/task/{taskId}": {
      "get": {
        "tags": [
          "User Billing"
        ],
        "summary": "Get usage by task",
        "description": "Retrieve all usage records for a specific task",
        "operationId": "getUsageByTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage records retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUsageRecordResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/usage/apikey/{apiKeyId}/summary": {
      "get": {
        "tags": [
          "User Billing"
        ],
        "summary": "Usage summary by unit type",
        "description": "Get aggregated usage summary for an API key grouped by unit type within a date range",
        "operationId": "getUsageSummary",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "from",
            "in": "query",
            "description": "Period start (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-01T00:00:00"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Period end (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-31T23:59:59"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUsageSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/usage/apikey/{apiKeyId}/summary/by-model": {
      "get": {
        "tags": [
          "User Billing"
        ],
        "summary": "Usage summary by model",
        "description": "Get aggregated usage summary for an API key grouped by model and unit type within a date range",
        "operationId": "getUsageSummaryByModel",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "from",
            "in": "query",
            "description": "Period start (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-01T00:00:00"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Period end (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-31T23:59:59"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUsageSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/usage/apikey/{apiKeyId}/history": {
      "get": {
        "tags": [
          "User Billing"
        ],
        "summary": "Usage history (paginated)",
        "description": "Get paginated usage history for an API key sorted by most recent first",
        "operationId": "getUsageHistory",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "from",
            "in": "query",
            "description": "Period start (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-01T00:00:00"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Period end (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-31T23:59:59"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-indexed)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Usage history retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageUsageRecordResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/billing/cost/total": {
      "get": {
        "tags": [
          "User Billing"
        ],
        "summary": "Get total cost",
        "description": "Get total cost for the authenticated user across all their API keys within a date range",
        "operationId": "getTotalCost",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Period start (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-01T00:00:00"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Period end (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-31T23:59:59"
          }
        ],
        "responses": {
          "200": {
            "description": "Total cost retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBigDecimal"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apikeys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "Retrieve all API keys belonging to the authenticated user",
        "operationId": "getAllApiKeys",
        "responses": {
          "200": {
            "description": "API keys retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListApiKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/technical/warnings": {
      "get": {
        "tags": [
          "Admin Technical"
        ],
        "operationId": "getWarnings",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "cursorTimestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cursorItemId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/technical/overview": {
      "get": {
        "tags": [
          "Admin Technical"
        ],
        "operationId": "getOverview",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/technical/logs": {
      "get": {
        "tags": [
          "Admin Technical"
        ],
        "operationId": "getLogs",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ALL"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "cursorTimestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cursorItemId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/technical/health": {
      "get": {
        "tags": [
          "Admin Technical"
        ],
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/technical/failed-jobs": {
      "get": {
        "tags": [
          "Admin Technical"
        ],
        "operationId": "getFailedJobs",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "cursorTimestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cursorItemId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/technical/errors": {
      "get": {
        "tags": [
          "Admin Technical"
        ],
        "operationId": "getErrors",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "cursorTimestamp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cursorItemId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/models/{modelId}/audit-history": {
      "get": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Get audit history",
        "description": "Retrieve the status-change audit trail for a model",
        "operationId": "getAuditHistory",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListModelStatusAudit"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/models/status/{status}": {
      "get": {
        "tags": [
          "Admin Models"
        ],
        "summary": "Get models by status",
        "description": "Retrieve models filtered by their current status",
        "operationId": "getModelsByStatus",
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "description": "Model status filter",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NOTHING",
                "ACTIVE",
                "INACTIVE",
                "DEPRECATED",
                "ARCHIVED"
              ]
            },
            "example": "ACTIVE"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListModelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/billing/usage/task/{taskId}": {
      "get": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Get usage by task",
        "description": "Retrieve all usage records for a specific task",
        "operationId": "getUsageByTask_1",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage records retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListUsageRecordResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/billing/usage/apikey/{apiKeyId}/summary": {
      "get": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Usage summary by unit type",
        "description": "Get aggregated usage summary for an API key grouped by unit type within a date range",
        "operationId": "getUsageSummaryByApiKey",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "from",
            "in": "query",
            "description": "Period start (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-01T00:00:00"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Period end (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-31T23:59:59"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUsageSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/billing/usage/apikey/{apiKeyId}/summary/by-model": {
      "get": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Usage summary by model",
        "description": "Get aggregated usage summary for an API key grouped by model and unit type within a date range",
        "operationId": "getUsageSummaryByModel_1",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "from",
            "in": "query",
            "description": "Period start (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-01T00:00:00"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Period end (ISO 8601)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-31T23:59:59"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUsageSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/billing/configs/model/{modelId}": {
      "get": {
        "tags": [
          "Admin Billing"
        ],
        "summary": "Get billing config by model",
        "description": "Retrieve the billing configuration associated with a specific model",
        "operationId": "getBillingConfigByModelId",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "Model ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "Billing config retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBillingConfigResponse"
                }
              }
            }
          },
          "404": {
            "description": "Billing config not found for model",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBillingConfigResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateApiKeyRequest": {
        "type": "object",
        "description": "Request to update existing API key settings. All fields are optional; only provided fields will be updated.",
        "example": {
          "description": "Updated Production Key",
          "dailyLimit": 2000,
          "monthlyLimit": 50000
        },
        "properties": {
          "description": {
            "type": "string",
            "description": "Updated description for the API key. Leave null to keep existing value.",
            "example": "Updated Production Key",
            "maxLength": 255,
            "minLength": 1
          },
          "dailyLimit": {
            "type": "integer",
            "format": "int32",
            "description": "Updated daily request limit. Leave null to keep existing value. Must be at least 1 if provided.",
            "example": 2000,
            "maximum": 1000000,
            "minimum": 1
          },
          "monthlyLimit": {
            "type": "integer",
            "format": "int32",
            "description": "Updated monthly request limit. Leave null to keep existing value. Must be at least 1 if provided.",
            "example": 50000,
            "maximum": 10000000,
            "minimum": 1
          }
        },
        "title": "Update API Key Request"
      },
      "ApiKeyResponse": {
        "type": "object",
        "description": "Complete details of an API key including credentials, limits, and usage tracking information.",
        "example": {
          "apiKeyId": 123,
          "key": "pk_live_xxxxxxxxxxxxx",
          "description": "Production Server",
          "dailyLimit": 1000,
          "monthlyLimit": 25000,
          "status": "ACTIVE",
          "createdAt": "2024-01-15T10:30:00",
          "lastUsedAt": "2024-02-22T16:45:00"
        },
        "properties": {
          "apiKeyId": {
            "type": "integer",
            "format": "int32",
            "description": "Unique identifier for the API key in database",
            "example": 123
          },
          "key": {
            "type": "string",
            "description": "API key used for authentication. The plaintext key is returned only once upon creation and cannot be retrieved again. Store it securely. Subsequent responses return only a hashed value.",
            "example": "sk_test_xxxxxxxxxxxxxxx",
            "pattern": "^[a-zA-Z0-9_-]{20,}$"
          },
          "description": {
            "type": "string",
            "description": "A user-defined description that identifies the purpose or location of this API key",
            "example": "Production Server",
            "maxLength": 255
          },
          "dailyLimit": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of API requests allowed per calendar day (UTC)",
            "example": 1000,
            "minimum": 1
          },
          "monthlyLimit": {
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of API requests allowed per calendar month",
            "example": 25000,
            "minimum": 1
          },
          "status": {
            "$ref": "#/components/schemas/ApiKeyStatus",
            "description": "Current status of the API key (ACTIVE, INACTIVE, REVOKED, EXPIRED). Only ACTIVE keys can be used for API requests.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this API key was created",
            "example": "2024-01-15T10:30:00Z"
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last request made using this API key. Null if never used.",
            "example": "2024-02-22T16:45:00Z"
          }
        },
        "required": [
          "apiKeyId",
          "createdAt",
          "dailyLimit",
          "key",
          "monthlyLimit",
          "status"
        ],
        "title": "API Key Response"
      },
      "ApiKeyStatus": {
        "type": "string",
        "enum": [
          "ACTIVE",
          "INACTIVE",
          "REVOKED"
        ]
      },
      "ApiResponseApiKeyResponse": {
        "type": "object",
        "description": "Unified API response wrapper for all endpoints. Contains status information, message, optional data payload, and optional field-level validation errors.",
        "example": {
          "timestamp": "2024-02-22T10:30:45Z",
          "status": 200,
          "success": true,
          "message": "Request successful",
          "path": "/api/v1/users",
          "method": "GET",
          "data": {}
        },
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server timestamp when the request was processed (ISO 8601 format)",
            "example": "2024-02-22T10:30:45Z"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP status code of the response (200, 201, 400, 401, 403, 404, 409, 500, etc.)",
            "example": 200,
            "maximum": 599,
            "minimum": 100
          },
          "success": {
            "type": "boolean",
            "description": "Boolean indicator of request success. True for 2xx status codes, false for 4xx/5xx.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Human-readable message describing the response result or error. Provides context for the status code.",
            "example": "Request successful",
            "maxLength": 1000
          },
          "path": {
            "type": "string",
            "description": "The request path/endpoint that was called (including query parameters if any)",
            "example": "/api/v1/users"
          },
          "method": {
            "type": "string",
            "description": "HTTP method used for the request (GET, POST, PUT, DELETE, PATCH, etc.)",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH",
              "HEAD",
              "OPTIONS"
            ],
            "example": "GET"
          },
          "data": {
            "$ref": "#/components/schemas/ApiKeyResponse",
            "description": "Generic data payload containing the actual response content. Type depends on the specific endpoint. Omitted from JSON if null.",
            "example": {}
          },
          "errors": {
            "type": "array",
            "description": "List of field-specific validation errors. Present only for validation-related errors. Omitted from JSON if null.",
            "example": [
              {
                "field": "email",
                "message": "Email must be valid"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ErrorField"
            }
          }
        },
        "required": [
          "message",
          "method",
          "path",
          "status",
          "success",
          "timestamp"
        ],
        "title": "API Response"
      },
      "ErrorField": {
        "type": "object",
        "description": "Represents a validation error for a specific field with field name and error message",
        "example": {
          "field": "email",
          "message": "Email must be valid"
        },
        "properties": {
          "field": {
            "type": "string",
            "description": "Name of the field that failed validation",
            "example": "email"
          },
          "message": {
            "type": "string",
            "description": "Error message describing the validation failure",
            "example": "Email must be valid"
          }
        },
        "required": [
          "field",
          "message"
        ],
        "title": "Error Field"
      },
      "ModelStatus": {
        "type": "string",
        "enum": [
          "NOTHING",
          "ACTIVE",
          "INACTIVE",
          "DEPRECATED",
          "ARCHIVED"
        ]
      },
      "UpdateModelRequest": {
        "type": "object",
        "description": "Request to update existing model properties. All fields are optional; only provided fields will be updated.",
        "example": {
          "fullname": "MISTRAL-7B Turbo",
          "pricePer1kTokens": 0.02,
          "description": "Updated with better performance"
        },
        "properties": {
          "fullname": {
            "type": "string",
            "description": "Updated display name for the model. Leave null to keep existing value.",
            "example": "MISTRAL-7B Turbo",
            "maxLength": 255
          },
          "username": {
            "type": "string",
            "description": "Updated unique identifier/slug for the model. Leave null to keep existing value.",
            "example": "mistral7b-turbo",
            "maxLength": 255,
            "pattern": "^[a-z0-9_-]+$"
          },
          "provider": {
            "type": "string",
            "description": "Updated provider name. Leave null to keep existing value.",
            "example": "MISTRAL",
            "maxLength": 255
          },
          "endpointUrl": {
            "type": "string",
            "format": "uri",
            "description": "Updated API endpoint URL. Leave null to keep existing value.",
            "example": "https://api.mistral.com/v1/chat/completions"
          },
          "description": {
            "type": "string",
            "description": "Updated model description and capabilities. Leave null to keep existing value.",
            "example": "Updated with better performance and lower latency",
            "maxLength": 500
          },
          "status": {
            "$ref": "#/components/schemas/ModelStatus",
            "description": "Updated model status (ACTIVE, INACTIVE, DEPRECATED). Controls whether the model is available for use.",
            "example": "ACTIVE"
          }
        },
        "title": "Update Model Request"
      },
      "ApiResponseModelResponse": {
        "type": "object",
        "description": "Unified API response wrapper for all endpoints. Contains status information, message, optional data payload, and optional field-level validation errors.",
        "example": {
          "timestamp": "2024-02-22T10:30:45Z",
          "status": 200,
          "success": true,
          "message": "Request successful",
          "path": "/api/v1/users",
          "method": "GET",
          "data": {}
        },
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server timestamp when the request was processed (ISO 8601 format)",
            "example": "2024-02-22T10:30:45Z"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP status code of the response (200, 201, 400, 401, 403, 404, 409, 500, etc.)",
            "example": 200,
            "maximum": 599,
            "minimum": 100
          },
          "success": {
            "type": "boolean",
            "description": "Boolean indicator of request success. True for 2xx status codes, false for 4xx/5xx.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Human-readable message describing the response result or error. Provides context for the status code.",
            "example": "Request successful",
            "maxLength": 1000
          },
          "path": {
            "type": "string",
            "description": "The request path/endpoint that was called (including query parameters if any)",
            "example": "/api/v1/users"
          },
          "method": {
            "type": "string",
            "description": "HTTP method used for the request (GET, POST, PUT, DELETE, PATCH, etc.)",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH",
              "HEAD",
              "OPTIONS"
            ],
            "example": "GET"
          },
          "data": {
            "$ref": "#/components/schemas/ModelResponse",
            "description": "Generic data payload containing the actual response content. Type depends on the specific endpoint. Omitted from JSON if null.",
            "example": {}
          },
          "errors": {
            "type": "array",
            "description": "List of field-specific validation errors. Present only for validation-related errors. Omitted from JSON if null.",
            "example": [
              {
                "field": "email",
                "message": "Email must be valid"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ErrorField"
            }
          }
        },
        "required": [
          "message",
          "method",
          "path",
          "status",
          "success",
          "timestamp"
        ],
        "title": "API Response"
      },
      "ModelResponse": {
        "type": "object",
        "description": "Contains detailed information about a single AI model including configuration, pricing, and metadata.",
        "example": {
          "modelId": 1,
          "fullname": "MISTRAL-7B",
          "username": "mistral7b",
          "provider": "MISTRAL",
          "parameterCount": "175B",
          "pricePer1kTokens": 0.03,
          "status": "ACTIVE",
          "endpointUrl": "https://api.mistral.com/v1/chat/completions",
          "type": "LLM",
          "description": "Most capable model",
          "createdAt": "2024-01-15T10:30:00Z",
          "updatedAt": "2024-02-22T14:20:00Z"
        },
        "properties": {
          "modelId": {
            "type": "integer",
            "format": "int32",
            "description": "Unique database identifier for the model",
            "example": 1
          },
          "fullname": {
            "type": "string",
            "description": "Display name of the model",
            "example": "MISTRAL-7B",
            "maxLength": 255
          },
          "username": {
            "type": "string",
            "description": "Unique identifier/slug for the model used in URLs",
            "example": "mistral7b",
            "maxLength": 255
          },
          "provider": {
            "type": "string",
            "description": "AI service provider name",
            "example": "MISTRAL",
            "maxLength": 255
          },
          "status": {
            "$ref": "#/components/schemas/ModelStatus",
            "description": "Current status",
            "example": "ACTIVE"
          },
          "endpointUrl": {
            "type": "string",
            "format": "uri",
            "description": "API endpoint URL for the model",
            "example": "https://api.mistral.com/v1/chat/completions"
          },
          "type": {
            "$ref": "#/components/schemas/ModelType",
            "description": "Type/classification of the model",
            "example": "LLM"
          },
          "description": {
            "type": "string",
            "description": "Description of model capabilities and features",
            "example": "MISTRAL's most capable model with advanced reasoning abilities",
            "maxLength": 500
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the model was registered",
            "example": "2024-01-15T10:30:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update to model information",
            "example": "2024-02-22T14:20:00Z"
          }
        },
        "required": [
          "createdAt",
          "endpointUrl",
          "fullname",
          "modelId",
          "provider",
          "type",
          "updatedAt",
          "username"
        ],
        "title": "Model Response"
      },
      "ModelType": {
        "type": "string",
        "enum": [
          "LLM",
          "OCR",
          "OTHER"
        ]
      },
      "UpdateApiDocumentationRequest": {
        "type": "object",
        "description": "Request to update existing API documentation. Both fields are optional; only provided fields will be updated.",
        "example": {
          "title": "Chat Completions (Updated)",
          "content": "Updated documentation with new parameters..."
        },
        "properties": {
          "title": {
            "type": "string",
            "description": "Updated documentation title. Leave null to keep the existing title.",
            "example": "Chat Completions (Updated)",
            "maxLength": 255,
            "minLength": 5
          },
          "content": {
            "type": "string",
            "description": "Updated documentation content with markdown support. Leave null to keep the existing content.",
            "example": "Updated documentation with new features and parameters",
            "maxLength": 2147483647,
            "minLength": 10
          }
        },
        "title": "Update API Documentation Request"
      },
      "ApiDocumentationResponse": {
        "type": "object",
        "description": "Contains detailed API documentation for a specific model endpoint. Includes title, content, and metadata.",
        "example": {
          "docId": 42,
          "title": "Chat Completions Endpoint",
          "content": "Handles real-time conversations with the model...",
          "modelId": 1,
          "modelName": "MISTRAL-7B",
          "createdAt": "2024-01-15T10:30:00Z",
          "updatedAt": "2024-02-22T14:20:00Z"
        },
        "properties": {
          "docId": {
            "type": "integer",
            "format": "int32",
            "description": "Unique identifier for this documentation resource",
            "example": 42
          },
          "title": {
            "type": "string",
            "description": "Title of the documentation section",
            "example": "Chat Completions Endpoint",
            "maxLength": 255
          },
          "content": {
            "type": "string",
            "description": "Full documentation content with markdown formatting support. Includes code examples, parameters, request/response formats.",
            "example": "This endpoint handles real-time conversations with the model. Send a messages array containing conversation history...",
            "maxLength": 50000
          },
          "modelId": {
            "type": "integer",
            "format": "int32",
            "description": "Foreign key reference to the model this documentation belongs to",
            "example": 1
          },
          "modelName": {
            "type": "string",
            "description": "Display name of the associated model",
            "example": "MISTRAL-7B",
            "maxLength": 255
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this documentation was created",
            "example": "2024-01-15T10:30:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last documentation update",
            "example": "2024-02-22T14:20:00Z"
          }
        },
        "required": [
          "content",
          "createdAt",
          "docId",
          "modelId",
          "modelName",
          "title",
          "updatedAt"
        ],
        "title": "API Documentation Response"
      },
      "ApiResponseApiDocumentationResponse": {
        "type": "object",
        "description": "Unified API response wrapper for all endpoints. Contains status information, message, optional data payload, and optional field-level validation errors.",
        "example": {
          "timestamp": "2024-02-22T10:30:45Z",
          "status": 200,
          "success": true,
          "message": "Request successful",
          "path": "/api/v1/users",
          "method": "GET",
          "data": {}
        },
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server timestamp when the request was processed (ISO 8601 format)",
            "example": "2024-02-22T10:30:45Z"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP status code of the response (200, 201, 400, 401, 403, 404, 409, 500, etc.)",
            "example": 200,
            "maximum": 599,
            "minimum": 100
          },
          "success": {
            "type": "boolean",
            "description": "Boolean indicator of request success. True for 2xx status codes, false for 4xx/5xx.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Human-readable message describing the response result or error. Provides context for the status code.",
            "example": "Request successful",
            "maxLength": 1000
          },
          "path": {
            "type": "string",
            "description": "The request path/endpoint that was called (including query parameters if any)",
            "example": "/api/v1/users"
          },
          "method": {
            "type": "string",
            "description": "HTTP method used for the request (GET, POST, PUT, DELETE, PATCH, etc.)",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH",
              "HEAD",
              "OPTIONS"
            ],
            "example": "GET"
          },
          "data": {
            "$ref": "#/components/schemas/ApiDocumentationResponse",
            "description": "Generic data payload containing the actual response content. Type depends on the specific endpoint. Omitted from JSON if null.",
            "example": {}
          },
          "errors": {
            "type": "array",
            "description": "List of field-specific validation errors. Present only for validation-related errors. Omitted from JSON if null.",
            "example": [
              {
                "field": "email",
                "message": "Email must be valid"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ErrorField"
            }
          }
        },
        "required": [
          "message",
          "method",
          "path",
          "status",
          "success",
          "timestamp"
        ],
        "title": "API Response"
      },
      "UpdateBillingConfigRequest": {
        "type": "object",
        "description": "Request payload for updating an existing billing configuration",
        "properties": {
          "pricingType": {
            "type": "string",
            "description": "Updated pricing type",
            "example": "PER_TOKEN"
          },
          "pricingMetadata": {
            "type": "string",
            "description": "Updated JSON pricing metadata",
            "example": {
              "inputRate": 0.00005,
              "outputRate": 0.0001
            }
          }
        },
        "title": "Update Billing Config Request"
      },
      "ApiResponseBillingConfigResponse": {
        "type": "object",
        "description": "Unified API response wrapper for all endpoints. Contains status information, message, optional data payload, and optional field-level validation errors.",
        "example": {
          "timestamp": "2024-02-22T10:30:45Z",
          "status": 200,
          "success": true,
          "message": "Request successful",
          "path": "/api/v1/users",
          "method": "GET",
          "data": {}
        },
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server timestamp when the request was processed (ISO 8601 format)",
            "example": "2024-02-22T10:30:45Z"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP status code of the response (200, 201, 400, 401, 403, 404, 409, 500, etc.)",
            "example": 200,
            "maximum": 599,
            "minimum": 100
          },
          "success": {
            "type": "boolean",
            "description": "Boolean indicator of request success. True for 2xx status codes, false for 4xx/5xx.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Human-readable message describing the response result or error. Provides context for the status code.",
            "example": "Request successful",
            "maxLength": 1000
          },
          "path": {
            "type": "string",
            "description": "The request path/endpoint that was called (including query parameters if any)",
            "example": "/api/v1/users"
          },
          "method": {
            "type": "string",
            "description": "HTTP method used for the request (GET, POST, PUT, DELETE, PATCH, etc.)",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH",
              "HEAD",
              "OPTIONS"
            ],
            "example": "GET"
          },
          "data": {
            "$ref": "#/components/schemas/BillingConfigResponse",
            "description": "Generic data payload containing the actual response content. Type depends on the specific endpoint. Omitted from JSON if null.",
            "example": {}
          },
          "errors": {
            "type": "array",
            "description": "List of field-specific validation errors. Present only for validation-related errors. Omitted from JSON if null.",
            "example": [
              {
                "field": "email",
                "message": "Email must be valid"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ErrorField"
            }
          }
        },
        "required": [
          "message",
          "method",
          "path",
          "status",
          "success",
          "timestamp"
        ],
        "title": "API Response"
      },
      "BillingConfigResponse": {
        "type": "object",
        "description": "Response payload representing a billing configuration for a model",
        "properties": {
          "billingId": {
            "type": "integer",
            "format": "int32",
            "description": "Billing config ID",
            "example": 1
          },
          "modelId": {
            "type": "integer",
            "format": "int32",
            "description": "Model ID this config is for",
            "example": 5
          },
          "modelName": {
            "type": "string",
            "description": "Model name",
            "example": "mistral-7B"
          },
          "pricingType": {
            "type": "string",
            "description": "Pricing type",
            "example": "PER_TOKEN"
          },
          "pricingMetadata": {
            "type": "string",
            "description": "JSON pricing metadata with rate details",
            "example": {
              "inputRate": 0.00003,
              "outputRate": 0.00006
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this config was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this config was last updated"
          }
        },
        "title": "Billing Config Response"
      },
      "InitiateTopUpRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 1
          }
        },
        "required": [
          "amount"
        ]
      },
      "ApiResponseMapStringString": {
        "type": "object",
        "description": "Unified API response wrapper for all endpoints. Contains status information, message, optional data payload, and optional field-level validation errors.",
        "example": {
          "timestamp": "2024-02-22T10:30:45Z",
          "status": 200,
          "success": true,
          "message": "Request successful",
          "path": "/api/v1/users",
          "method": "GET",
          "data": {}
        },
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server timestamp when the request was processed (ISO 8601 format)",
            "example": "2024-02-22T10:30:45Z"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP status code of the response (200, 201, 400, 401, 403, 404, 409, 500, etc.)",
            "example": 200,
            "maximum": 599,
            "minimum": 100
          },
          "success": {
            "type": "boolean",
            "description": "Boolean indicator of request success. True for 2xx status codes, false for 4xx/5xx.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Human-readable message describing the response result or error. Provides context for the status code.",
            "example": "Request successful",
            "maxLength": 1000
          },
          "path": {
            "type": "string",
            "description": "The request path/endpoint that was called (including query parameters if any)",
            "example": "/api/v1/users"
          },
          "method": {
            "type": "string",
            "description": "HTTP method used for the request (GET, POST, PUT, DELETE, PATCH, etc.)",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH",
              "HEAD",
              "OPTIONS"
            ],
            "example": "GET"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Generic data payload containing the actual response content. Type depends on the specific endpoint. Omitted from JSON if null.",
            "example": {}
          },
          "errors": {
            "type": "array",
            "description": "List of field-specific validation errors. Present only for validation-related errors. Omitted from JSON if null.",
            "example": [
              {
                "field": "email",
                "message": "Email must be valid"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ErrorField"
            }
          }
        },
        "required": [
          "message",
          "method",
          "path",
          "status",
          "success",
          "timestamp"
        ],
        "title": "API Response"
      },
      "TaskCreateRequest": {
        "type": "object",
        "description": "Request payload for creating a new async task with model inference parameters",
        "example": {
[...]
